<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置自定义mybatis拦截器-->
    <plugins>
        <plugin interceptor="com.skylab.soft_v.util.SoulTableInterceptor">
            <property name="dbType" value="mysql"/>
        </plugin>
    </plugins>
</configuration>