<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/soulTable.css}" media="all">
    <style>
        .layui-form-item {
            margin: 5px 0 0 0;
        }
    </style>
</head>

<body>
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:70px;">软件类型：</label>
            <div class="layui-input-inline">
                <select id="softType" lay-filter="softType" lay-verify="required">
                </select>
            </div>
        </div>
    </form>
    <!-- 表格模板 -->
    <div id="items">
        <!-- <table class="layui-hide" id="test" lay-filter="test"></table> -->
    </div>
    <!-- 操作栏模板 -->
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-sm" lay-event="tools">工具</a>
        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="download">下载</a>
    </script>


    <script th:src="@{/layuiadmin/layui/layui.all.js}"></script>
    <script>
        var rowData; //用于接受表格的行信息
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index', //主入口模块
            soulTable: 'soulTable/soulTable',
            tableChild: 'soulTable/tableChild',
            tableMerge: 'soulTable/tableMerge',
            tableFilter: 'soulTable/tableFilter',
            excel: 'soulTable/excel',
        }).use(['index', 'dtree', 'soulTable'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.jquery,
                table = layui.table,
                upload = layui.upload,
                element = layui.element,
                setter = layui.setter,
                admin = layui.admin;
            var soulTable = layui.soulTable;
            var categoryId = null; //当前软件类型 id
            var initId = null; //初始软件类型 id
            var cols = []; //动态表项
            table.set({
                headers: { //通过 request 头传递
                    "authorization": layui.data(setter.tableName)['authorization'] || "",
                    "refreshToken": layui.data(setter.tableName)['refreshToken'] || "",
                }
            });

            //获取软件类型
            admin.req({
                url: '/category/list',
                done: function (data) {
                    console.log(data);
                    initId = data.data[0].id;
                    categoryId = data.data[0].id;
                    $.each(data.data, function (index, item) {
                        //填充下拉框
                        $('#softType').append(new Option(item.categoryName, item.id));
                        //生成空表格模板
                        var table = document.createElement("table");
                        table.setAttribute('class', 'layui-hide')
                        table.setAttribute('id', "table" + item.id)
                        table.setAttribute('lay-filter', "table" + item.id)
                        document.getElementById("items").appendChild(table);
                        //初始化表格
                        getValidFields("table" + item.id, "#table" + item.id, item.id);
                    });
                    form.render("select");
                },
                fail: function (data) {
                    layer.msg(data.msg);
                }
            });

            //监听下拉列表改变
            form.on('select(softType)', function (data) {
                // console.log(data.value);
                if (data.value == categoryId) {
                    return;
                }
                //隐藏之前的表格
                $('div[lay-id="' + "table" + categoryId + '"]').css('display', 'none');
                categoryId = data.value;
                //显示选中的表格
                $('div[lay-id="' + "table" + categoryId + '"]').css('display', 'block');
            });

            //获取需要展示的表头字段 表格初始化时使用
            function getValidFields(id, elem, categoryId) {
                admin.req({
                    url: '/extFieldRelation/getValidFieldsByCategory?category=' +
                        categoryId,
                    done: function (data) {
                        console.log(data);
                        //填充表项
                        cols = []; //清空
                        $.each(data.data, function (index, item) {
                            // console.log(item);
                            obj = new Object();
                            obj.field = item.fieldName;
                            obj.title = item.fieldDes;
                            obj.align = "center";
                            obj.sort = true;
                            // obj.width = "120";
                            if (item.isTerm) {
                                obj.filter = true;
                                if (item.fieldName == "uploadDate")
                                    obj.filter = {
                                        type: 'date[yyyy-MM-dd HH:mm:ss]'
                                    };
                            }
                            cols.push(obj);
                        });
                        //添加操作栏
                        var obj = {
                            fixed: 'right',
                            title: '操作',
                            toolbar: '#barDemo',
                            width: 150,
                            align: "center"
                        }
                        cols.push(obj);
                        // cols.forEach((item, index, array) => {
                        //     console.log(item)
                        // })
                        //加载表格
                        tableRender(id, elem, categoryId);
                    },
                    fail: function (data) {
                        layer.msg(data.msg);
                    }
                });
            }

            //表格
            function tableRender(id, elem, categoryId) {
                table.render({
                    id: id, //定义id 方便重载
                    elem: elem,
                    url: '/soft/queryForSoulpage',
                    method: "post",
                    where: {
                        category: categoryId
                    },
                    height: 'full-90', //铺满离最下方差多少
                    cellMinWidth: 100, //每列最小宽度
                    // toolbar: '#labTableToolbar', //开启头部工具栏，并为其绑定左侧模板
                    cols: [cols],
                    filter: {
                        items: ['column', 'data', 'condition', 'editCondition', 'excel', 'clearCache'],
                        cache: true
                    },
                    // autoColumnWidth: {
                    //     init: true ,//表格列宽自适应
                    // },
                    page: true, //开启分页
                    limit: 10, //每页数据条目
                    response: { //如果你想重新规定返回的数据格式
                        statusCode: "200", //规定成功的状态码，默认：0
                    },
                    done: function (res) { //返回数据执行回调函数
                        console.log(res);
                        soulTable.render(this);
                    }
                });
                if (initId != categoryId) {
                    //隐藏表格
                    $('div[lay-id="' + id + '"]').css('display', 'none');
                }
                table.on("tool(" + id + ")", function (obj) {
                    var data = obj.data;
                    console.log(data)
                    if (obj.event === 'download') {
                        console.log(data.address);
                        downloadFile(data.address);
                    } else if (obj.event === 'tools') {
                        rowData = JSON.stringify(data);
                        layer.open({
                            type: 2,
                            title: '<i class="layui-icon layui-icon-util">工具</i>',
                            area: ['520px', '320px'],
                            content: ['/index/downloadTools'],
                            skin: 'layui-layer-molv',
                            shade: 0,
                            offset: 'auto',
                        });
                    }
                });
            }


            //文件下载
            function downloadFile(address) {
                if (!address) {
                    layer.msg("文件为空！");
                    return;
                }
                // window.location.href="/api/file/"+data.id;
                // 获取XMLHttpRequest
                var xmlResquest = new XMLHttpRequest();
                // 发起请求
                xmlResquest.open("GET", "/file/download?address=" + address, true);
                // console.log(layui.data(setter.tableName)['token'])
                xmlResquest.setRequestHeader("authorization", layui.data(setter.tableName)['authorization']);
                xmlResquest.setRequestHeader("refreshToken", layui.data(setter.tableName)['refreshToken']);
                xmlResquest.responseType = "blob";
                // 返回
                xmlResquest.onload = function (oEvent) {
                    if (this.status == 200) {
                        var content = xmlResquest.response;
                        // console.log(xmlResquest);
                        if (content.type == 'application/json') {
                            var fr = new FileReader(); //FileReader可以读取Blob内容
                            fr.readAsText(content); //二进制转换成text
                            fr.onload = function (e) { //转换完成后，调用onload方法
                                var result = fr.result;
                                layer.msg(JSON.parse(result).msg);
                            }
                        } else {
                            // 组装a标签
                            var elink = document.createElement("a");
                            //设置文件下载路径
                            elink.download = address.substring((address.lastIndexOf("-")) + 1);
                            elink.style.display = "none";
                            //把后端response响应二进制文件放到blob
                            var blob = new Blob([content]);
                            //解决下载不存在文件的问题，根据blob大小判断
                            if (blob.size == 0) {
                                layer.msg('服务器没找到此文件，请联系管理员!');
                            } else {
                                //通过url去下载
                                elink.href = URL.createObjectURL(blob);
                                document.body.appendChild(elink);
                                elink.click();
                                document.body.removeChild(elink);
                            }
                        }
                    }
                };
                xmlResquest.send();
                //location.href = "/file/download?address=" + data.address ; //下载软件
            }

        });
    </script>

</body>

</html>