<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>数据操作 - 数据表格</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
    <!--layui.table图片显示不全，需重新定义CSS  -->
    <style type="text/css">
        .layui-table-cell {
            text-align: center;
            height: auto;
            white-space: normal;
        }

        .layui-table img {
            max-height: 50px;
            /* min-height: 80px; */
        }

        /* 隐藏表格横向滚动条 */
        .layui-table-body {
            overflow-x: hidden !important;
        }

        .layui-xpl-dc-circle {
            border-radius: 90px;
            display: inline-block;
            text-align: center;
            height: 25px;
            line-height: 25px;
            background-color: #1E9FFF;
            color: #fff;
            margin: 3px 5px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 10px;
            padding-right: 10px;
            position: relative;
        }
    </style>
</head>

<body>
    <!-- 表头工具栏模板 -->
    <script type="text/html" id="labTableToolbar">
        <div class="layui-inline" style="width: 20%;">
            <input name="search" id="LAY-search-labTable" placeholder="输入账号、角色等" class="layui-input">
        </div>
        <!-- <a class="layui-btn" lay-event="search" class="layui-inline"><i class="layui-icon">&#xe615;</i>搜索</a>
        <a class="layui-btn" lay-event="add" class="layui-inline"><i class="layui-icon">&#xe608;</i>添加</a> -->
        <button lay-event="search" type="button" class="layui-btn">
            <i class="layui-icon">&#xe615;</i>搜索
        </button>
        <button lay-event="add" type="button" class="layui-btn">
            <i class="layui-icon">&#xe608;</i>添加
        </button>
    </script>
    <!-- 表格 -->
    <table class="layui-show" id="demo" name="table" lay-filter="test"></table>
    <!-- 操作栏模板 -->
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        {{#  if(d.pid != 0){ }}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        {{#  } else { }}
        <a class="layui-btn layui-btn-disabled layui-btn-xs">删除</a>
        {{#  } }}
    </script>
</body>

<script th:src="@{/layuiadmin/layui/layui.all.js}"></script>
<script>
    var json;
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var $ = layui.$,
            table = layui.table,
            setter = layui.setter,
            admin = layui.admin;
        table.set({
            headers: { //通过 request 头传递
                "authorization": layui.data(setter.tableName)[setter.request.tokenName] || '',
                "refreshToken": layui.data(setter.tableName)[setter.request.refreshToken] || ''
            }
        })
        table.render({
            id: "table", //定义id 方便重载
            elem: '#demo',
            loading: true, //翻页加loading
            url: '/user/queryAccountByMsg', //分页 getPersonTypesPage 不分页 getPersonTypes
            // width: admin.screen() > 1 ? 892 : '',
            height: 'full-20', //铺满离最下方差多少
            // cellMinWidth: 80, //所有单元格最小宽度
            even: true,
            skin: 'row',
            limit: 10, //每页数据条目
            toolbar: '#labTableToolbar', //开启头部工具栏，并为其绑定左侧模板
            cols: [
                [{
                        type: 'numbers',
                        title: '序号',
                        align: "center",
                    },
                    {
                        field: 'username',
                        title: '用户名',
                        align: 'center',
                    },
                    {
                        field: 'realName',
                        title: '真实姓名',
                        align: 'center',
                    }, {
                        align: 'center',
                        field: 'roles',
                        title: '角色',
                        templet: function (d) {
                            // console.log(d.roles)
                            var s = "";
                            var div = document.createElement("div");
                            // span.setAttribute('class', 'layui-xpl-dc-circle');
                            // span.innerText = "test";
                            if (d.roles) {
                                d.roles.forEach(element => {
                                    var span = document.createElement("span");
                                    span.setAttribute('class', 'layui-xpl-dc-circle');
                                    span.innerText = element.roleName;
                                    div.appendChild(span);
                                });
                            }

                            return div.outerHTML;
                        },
                    }, {
                        // minWidth: 200,
                        align: 'center',
                        fixed: 'right',
                        toolbar: '#barDemo',
                        title: '操作'
                    }
                ]
            ],
            page: true, //开启分页
            response: { //如果你想重新规定返回的数据格式
                statusCode: "200", //规定成功的状态码，默认：0
            },
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.rows //回调数据
                };
            },
            done: function (res) { //返回数据执行回调函数
                layer.closeAll("loading"); //返回数据关闭loading
                //console.log(res);
            }
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function (obj) {
            //console.log(obj);
            var checkStatus = table.checkStatus(obj.config.id),
                data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'add':
                    layer.open({
                        type: 2,
                        title: `<i class="layui-icon layui-icon-add-1">添加账号</i>`,
                        // maxmin: true,
                        area: ['420px', '450px'],
                        shadeClose: false, //点击遮罩关闭
                        skin: 'layui-layer-molv',
                        content: ['addAccount'] //目标地址 不出现滚动条
                    });
                    break;
                case 'search':
                    var msg = document.getElementById('LAY-search-labTable').value;
                    table.reload('table', {
                        url: "/user/queryAccountByMsg?msg=" + msg,
                    });
                    //console.log(msg)
                    $('#LAY-search-labTable').val(msg);
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            //console.log(obj);
            var data = obj.data, //获得当前行数据          
                layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'del') {
                // console.log(data);
                layer.confirm('真的要删除"<span style="color: #FF5722;">' + data.username + '</span>"用户吗？', {
                    title: "删除确认"
                }, function (index) {
                    //向服务端发送删除指令
                    admin.req({
                        url: '/user/delete',
                        method: "post",
                        data: {
                            id: data.userId
                        },
                        done: function (data) {
                            //console.log(data);
                            obj.del(); //删除对应行（tr）的DOM结构
                            layer.close(index);
                            layer.msg(data.msg);
                        },
                        fail: function (data) {
                            layer.msg(data.msg);
                        }
                    });
                    // $.post("/apis/myuser/deleteUser", {
                    //     UserId: data.id
                    // }, function (data) {
                    //     console.log(data)
                    //     if (data.code == 1) {
                    //         //删除对应行（tr）的DOM结构
                    //         obj.del();
                    //         layer.close(index);
                    //     }
                    //     layer.msg(data.msg);
                    // });
                });
            } else if (layEvent === 'edit') {
                json = JSON.stringify(data);
                layer.open({
                    type: 2,
                    title: `<i class="layui-icon layui-icon-edit">修改账号信息</i>`,
                    // maxmin: true,
                    area: ['420px', '450px'],
                    shadeClose: false, //点击遮罩关闭
                    content: ['editAccount'], //目标地址 不出现滚动条
                    skin: 'layui-layer-molv',
                    success: function (layero, index) {
                        console.log(data);
                    }
                });
            }
        });

    });
</script>

</html>