<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>设置我的密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
</head>

<body>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">修改密码</div>
                    <div class="layui-card-body" pad15>

                        <div class="layui-form" lay-filter="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">当前密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" name="oldPassword" lay-verify="required" autocomplete="off"
                                        lay-verType="tips" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" name="newPassword" lay-verify="pass" lay-verType="tips"
                                        autocomplete="off" id="LAY_password" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">确认新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" name="rePassword" lay-verify="repass" lay-verType="tips"
                                        autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="setmypass">确认修改</button>
                                    <!-- <a class="layadmin-link" style="margin: 10px 20px;" href="javascript:void(0);"
                    id="forgetpass">忘记密码?</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/layuiadmin/layui/layui.all.js}"></script>
    <script>
        layui.config({
            base: '/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'set'], function () {
            var $ = layui.jquery,
                form = layui.form,
                layer = layui.layer,
                admin = layui.admin;
            //监听提交
            form.on('submit(setmypass)', function (obj) {

                var data = obj.field;
                // console.log(data);
                admin.req({
                    url: '/user/resetPassword',
                    type: 'post',
                    data: {
                        passwordOld: data.oldPassword,
                        passwordNew: data.newPassword
                    },
                    done: function (data) {
                        // console.log(data);
                        layer.msg(data.msg);
                        admin.exit(function(){
                            top.location.href = '/toLogin';
                        });
                        //top.location.href = '/toLogin'; //登录
                    },
                    fail: function (data) {
                        layer.msg(data.msg, {
                            offset: '15px',
                            icon: 2,
                            time: 2000
                        });
                    }
                })
            });
            $("#forgetpass").on('click', function () {
                layer.msg("当前密码已通过手机短信发送给您,请注意查收。");
            })

        })
    </script>
</body>

</html>