<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skylab.soft_v.mapper.ExtFieldRelationMapper">

    <resultMap type="com.skylab.soft_v.entity.ExtFieldRelation" id="ExtFieldRelationMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="fieldName" column="field_name" jdbcType="VARCHAR"/>
        <result property="fieldDes" column="field_des" jdbcType="VARCHAR"/>
        <result property="category" column="category" jdbcType="INTEGER"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
        <result property="isTerm" column="is_term" jdbcType="BOOLEAN"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ExtFieldRelationMap">
        select
          id, field_name, field_des, category, value, is_term
        from soft_v_sys.ext_field_relation
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByPage" resultMap="ExtFieldRelationMap">
        select
          id, field_name, field_des, category, value, is_term
        from soft_v_sys.ext_field_relation
        limit #{page}, #{limit}
    </select>

    <!--查询所有行数据-->
    <select id="queryList" resultMap="ExtFieldRelationMap">
        select
          id, field_name, field_des, category, value, is_term
        from soft_v_sys.ext_field_relation
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryByExample" resultMap="ExtFieldRelationMap">
        select
        id, field_name, field_des, category, value, is_term
        from soft_v_sys.ext_field_relation
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="fieldName != null and fieldName != ''">
                and field_name = #{fieldName}
            </if>
            <if test="fieldDes != null and fieldDes != ''">
                and field_des = #{fieldDes}
            </if>
            <if test="category != null">
                and category = #{category}
            </if>
            <if test="value != null and value != ''">
                and value = #{value}
            </if>
            <if test="isTerm != null">
                and is_term = #{isTerm}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into soft_v_sys.ext_field_relation(field_name, field_des, category, value, is_term)
        values (#{fieldName}, #{fieldDes}, #{category}, #{value}, #{isTerm})
    </insert>

    <!--新增非空列-->
    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true">
        insert into soft_v_sys.ext_field_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fieldName != null and fieldName != ''">
                field_name,
            </if>
            <if test="fieldDes != null and fieldDes != ''">
                field_des,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="value != null and value != ''">
                value,
            </if>
            <if test="isTerm != null">
                is_term,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fieldName != null and fieldName != ''">
                #{fieldName},
            </if>
            <if test="fieldDes != null and fieldDes != ''">
                #{fieldDes},
            </if>
            <if test="category != null">
                #{category},
            </if>
            <if test="value != null and value != ''">
                #{value},
            </if>
            <if test="isTerm != null">
                #{isTerm},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update soft_v_sys.ext_field_relation
        <set>
            <if test="fieldName != null and fieldName != ''">
                field_name = #{fieldName},
            </if>
            <if test="fieldDes != null and fieldDes != ''">
                field_des = #{fieldDes},
            </if>
            <if test="category != null">
                category = #{category},
            </if>
            <if test="value != null and value != ''">
                value = #{value},
            </if>
            <if test="isTerm != null">
                is_term = #{isTerm},
            </if>
        </set>
        where id = #{id}
    </update>
    <!--修改可查状态    -->
    <update id="updateIsTerm">
        update soft_v_sys.ext_field_relation
        <set>
            <if test="isTerm != null">
                is_term = #{isTerm},
            </if>
        </set>
        where id = #{id}
    </update>
    <!--通过主键修改数据-->
    <update id="stopUse">
        update soft_v_sys.ext_field_relation
        set value = null ,field_des = '预留列',category = -1,is_term = 0
        where id = #{id}
    </update>
    <update id="extendField">
        update soft_v_sys.ext_field_relation
        <set>
            value = #{value},
            <if test="fieldDes != null and fieldDes != ''">
                field_des = #{fieldDes},
            </if>
            <if test="category != null">
                category = #{category},
            </if>
            <if test="isTerm != null">
                is_term = #{isTerm},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from soft_v_sys.ext_field_relation where id = #{id}
    </delete>
    <!--查询总行数-->
    <select id="count" resultType="int">
        select count(1)
        from soft_v_sys.ext_field_relation
    </select>
    <!--通过类型查询所有有效行数据-->
    <select id="queryValidFieldsByCategory" resultMap="ExtFieldRelationMap">
        select
             id, field_name, field_des, category, value, is_term
        from soft_v_sys.ext_field_relation
        where category in (0,#{category})
    </select>

    <!--查询所有有效行数据-->
    <select id="queryValidFields" resultMap="ExtFieldRelationMap">
        select
            id,field_name, field_des, category,value,is_term
        from soft_v_sys.ext_field_relation
        <where>
            category != -1
            <if test="condition != null and condition != ''">
                and CONCAT(`field_name`, `field_des`) LIKE CONCAT('%',#{conditions},'%')
            </if>
        </where>
    </select>

    <select id="queryInvalidFields" resultMap="ExtFieldRelationMap">
        select
          id,field_name, field_des,value,is_term
        from soft_v_sys.ext_field_relation
        where category = -1
    </select>
</mapper>