<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skylab.soft_v.mapper.ModelMapper">

    <resultMap type="com.skylab.soft_v.entity.Model" id="ModelMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="modelName" column="model_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ModelMap">
        select
          id, model_name
        from soft_v_sys.model
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByPage" resultMap="ModelMap">
        select
          id, model_name
        from soft_v_sys.model
        limit #{page}, #{limit}
    </select>

    <!--查询所有行数据-->
    <select id="queryList" resultMap="ModelMap">
        select
          id, model_name
        from soft_v_sys.model
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryByExample" resultMap="ModelMap">
        select
        id, model_name
        from soft_v_sys.model
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="modelName != null and modelName != ''">
                and model_name = #{modelName}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into soft_v_sys.model(model_name)
        values (#{modelName})
    </insert>

    <!--新增非空列-->
    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true">
        insert into soft_v_sys.model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modelName != null and modelName != ''">
                model_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modelName != null and modelName != ''">
                #{modelName},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update soft_v_sys.model
        <set>
            <if test="modelName != null and modelName != ''">
                model_name = #{modelName},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from soft_v_sys.model where id = #{id}
    </delete>
    <!--查询总行数-->
    <select id="count" resultType="int">
        select count(1)
        from soft_v_sys.model
    </select>
</mapper>