<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skylab.soft_v.mapper.RolePermissionMapper">

    <resultMap type="com.skylab.soft_v.entity.RolePermission" id="RolePermissionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="pId" column="p_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="RolePermissionMap">
        select
          id, role_id, p_id
        from soft_v_sys.role_permission
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByPage" resultMap="RolePermissionMap">
        select
          id, role_id, p_id
        from soft_v_sys.role_permission
        limit #{page}, #{limit}
    </select>

    <!--查询所有行数据-->
    <select id="queryList" resultMap="RolePermissionMap">
        select
          id, role_id, p_id
        from soft_v_sys.role_permission
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryByExample" resultMap="RolePermissionMap">
        select
        id, role_id, p_id
        from soft_v_sys.role_permission
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="pId != null">
                and p_id = #{pId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into soft_v_sys.role_permission(role_id, p_id)
        values (#{roleId}, #{pId})
    </insert>

    <!--新增非空列-->
    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true">
        insert into soft_v_sys.role_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="pId != null">
                p_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="pId != null">
                #{pId},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update soft_v_sys.role_permission
        <set>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            <if test="pId != null">
                p_id = #{pId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from soft_v_sys.role_permission where id = #{id}
    </delete>
    <delete id="deleteByRoleId">
         delete from soft_v_sys.role_permission where role_id = #{id}
    </delete>
    <!--查询总行数-->
    <select id="count" resultType="int">
        select count(1)
        from soft_v_sys.role_permission
    </select>
</mapper>