<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skylab.soft_v.mapper.ToolTypeMapper">

    <resultMap type="com.skylab.soft_v.entity.ToolType" id="ToolTypeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ToolTypeMap">
        select
          id, type
        from soft_v_sys.tool_type
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByPage" resultMap="ToolTypeMap">
        select
          id, type
        from soft_v_sys.tool_type
        limit #{page}, #{limit}
    </select>

    <!--查询所有行数据-->
    <select id="queryList" resultMap="ToolTypeMap">
        select
          id, type
        from soft_v_sys.tool_type
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryByExample" resultMap="ToolTypeMap">
        select
        id, type
        from soft_v_sys.tool_type
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into soft_v_sys.tool_type(type)
        values (#{type})
    </insert>

    <!--新增非空列-->
    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true">
        insert into soft_v_sys.tool_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">
                #{type},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update soft_v_sys.tool_type
        <set>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from soft_v_sys.tool_type where id = #{id}
    </delete>
    <!--查询总行数-->
    <select id="count" resultType="int">
        select count(1)
        from soft_v_sys.tool_type
    </select>
</mapper>