<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skylab.soft_v.mapper.UserMapper">

    <resultMap type="com.skylab.soft_v.entity.User" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
    </resultMap>
    <!--账号对象-->
    <resultMap type="com.skylab.soft_v.bean.AccountVO" id="AccountVOMap">
        <result property="userId" column="userId" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <collection property="roles" resultMap="RoleMap"/>
    </resultMap>
    <!--包含的role对象-->
    <resultMap type="com.skylab.soft_v.entity.Role" id="RoleMap">
        <result property="id" column="roleId" jdbcType="INTEGER"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <!--查询单个-->
    <select id="queryById" resultMap="UserMap">
        select
          id, username, password, real_name
        from soft_v_sys.user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByPage" resultMap="UserMap">
        select
          id, username, real_name
        from soft_v_sys.user
        limit #{page}, #{limit}
    </select>

    <!--查询所有行数据-->
    <select id="queryList" resultMap="UserMap">
        select
          id, username, real_name
        from soft_v_sys.user
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryByExample" resultMap="UserMap">
        select
        id, username, real_name
        from soft_v_sys.user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="realName != null and realName != ''">
                and real_name = #{realName}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into soft_v_sys.user(username, password, real_name)
        values (#{username}, #{password}, #{realName})
    </insert>

    <!--新增非空列-->
    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true">
        insert into soft_v_sys.user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                username,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="realName != null and realName != ''">
                real_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                #{username},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="realName != null and realName != ''">
                #{realName},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update soft_v_sys.user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="realName != null and realName != ''">
                real_name = #{realName},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from soft_v_sys.user where id = #{id}
    </delete>
    <!--查询总行数-->
    <select id="count" resultType="int">
        select count(1)
        from soft_v_sys.user
    </select>
    <!--通过用户名查询-->
    <select id="queryByUsername" resultMap="UserMap">
        select
        id, username,password, real_name
        from soft_v_sys.user
        where username = #{username}
    </select>

    <!--根据角色名、用户名模糊查找账号-->
    <select id="queryAccountByMsg" resultMap="AccountVOMap" parameterType="map">
        SELECT
            b.id userId,b.real_name,b.username,c.id roleId,c.remark,c.role_name
        FROM
            user_role a
        LEFT JOIN `user` b ON a.user_id = b.id
        LEFT JOIN role c on a.role_id = c.id
        WHERE CONCAT(b.real_name, c.role_name) LIKE CONCAT('%',#{msg},'%')
        ORDER BY user_id
    </select>
    <select id="inUser" resultType="int">
        select count(1)
        from soft_v_sys.soft
        where engineer = #{id} or sale = #{id}
    </select>

    <select id="queryByRole" resultMap="UserMap">
        select u.id, username, real_name
        from soft_v_sys.user u left join soft_v_sys.user_role ur on u.id = ur.user_id
        left join soft_v_sys.role r on ur.role_id = r.id
        where r.role_name = #{role}
    </select>
</mapper>